<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Default">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Default" name="CFIWCFServiceLiabrary.CFIDBService">
                <endpoint address="MybasicHttpBinding" binding="basicHttpBinding"
                    bindingConfiguration="" name="MybasicHttpBinding" contract="CFIWCFServiceLiabrary.ICFIDBService" />
                <endpoint address="MywsHttpBinding" binding="wsHttpBinding" bindingConfiguration=""
                    name="wsHttpBinding" contract="CFIWCFServiceLiabrary.ICFIDBService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1988/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
